<a href="https://colab.research.google.com/github/alexsandro-matias/dataframes/blob/main/Fundamentos_de_ETL_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.6.5)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.12.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.7.4.3)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pandera) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pandera) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

In [2]:
import pandas as pd 


# Para validação dos tipos de dados do dataframe, faz-se uso de outra biblioteca
# por que mesmo que usando o parse não se garante que os dados serão válidos.

import pandera as pa

In [3]:
df = pd.read_csv("ocorrencia_2010_2020.csv", sep=",")

df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [4]:
df.dtypes

codigo_ocorrencia            int64
codigo_ocorrencia2           int64
ocorrencia_classificacao    object
ocorrencia_cidade           object
ocorrencia_uf               object
ocorrencia_aerodromo        object
ocorrencia_dia              object
ocorrencia_hora             object
total_recomendacoes          int64
dtype: object

In [5]:
df.ocorrencia_dia.dt.month

AttributeError: ignored

In [ ]:
# Deixando os valores como datas

df = pd.read_csv("ocorrencia_2010_2020.csv", sep=",", parse_dates=['ocorrencia_dia'])
df
df.dtypes

In [ ]:
df.ocorrencia_dia.dt.month

In [ ]:
df.head(10)

In [21]:
# Ajustando para que o primeiro valor seja considerado dia. 
df = pd.read_csv("ocorrencia_2010_2020.csv", sep=",", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [26]:
schema = pa.DataFrameSchema(
    columns = {
     "codigo_ocorrencia":pa.Column(pa.Int),
     "codigo_ocorrencia2":pa.Column(pa.Int),
     "ocorrencia_classificacao":pa.Column(pa.String),
     "ocorrencia_cidade":pa.Column(pa.String),
     #limitando a quantidade caracteres da UP
     "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2)),
     "ocorrencia_dia":pa.Column(pa.DateTime),
     "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
     "total_recomendacoes": pa.Column(pa.Int)
 }
 
)

In [27]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [ ]:
# Caso o nome esteja digitado de forma errada. lançará a seguinte exceção:
# SchemaError: column 'codigo_ocorrenci' not in dataframe

In [ ]:
# Como não foi explicitado que poderia receber valores nulos, neste campo, lançará a seguinte exceção:
# SchemaError: non-nullable series 'ocorrencia_hora' contains null values: {4100: nan}