<a href="https://colab.research.google.com/github/alexsandro-matias/dataframes/blob/main/limpeza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("ocorrencia_2010_2020.csv")

In [3]:
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [4]:
# para encontrar um valor em determinada linha no dataframe:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [5]:
df.loc[1:3]

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0

[3 rows x 9 columns]

In [7]:
# para selecionar mais de uma linha, deve-se colocar um lista como argumento:
df.loc[[10,40]]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
10              39789               39789  ...        21:30:00                   0
40              39158               39158  ...        16:00:00                   0

[2 rows x 9 columns]

In [8]:
# já para toda a coluna, não seleciona a linha e informa a coluna:
df.loc[: , 'ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
5747    SP
5748    TO
5749    RJ
5750    MS
5751    RJ
Name: ocorrencia_uf, Length: 5752, dtype: object