<a href="https://colab.research.google.com/github/alexsandro-matias/dataframes/blob/main/limpeza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv("ocorrencia_2010_2020.csv", sep=';')

In [ ]:
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [ ]:
# para encontrar um valor em determinada linha no dataframe:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [ ]:
df.loc[1:3]

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0

[3 rows x 9 columns]

In [ ]:
# para selecionar mais de uma linha, deve-se colocar um lista como argumento:
df.loc[[10,40]]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
10              39789               39789  ...        21:30:00                   0
40              39158               39158  ...        16:00:00                   0

[2 rows x 9 columns]

In [ ]:
# já para toda a coluna, não seleciona a linha e informa a coluna:
df.loc[: , 'ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
5747    SP
5748    TO
5749    RJ
5750    MS
5751    RJ
Name: ocorrencia_uf, Length: 5752, dtype: object

In [ ]:
df.loc[: , 'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [ ]:
# verificando se a linha dos código são únicas
df.codigo_ocorrencia.is_unique

True

In [ ]:
# verificando se a linha dos código são únicas
df.codigo_ocorrencia2.is_unique

True

In [ ]:
df.head()

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0

[5 rows x 8 columns]

In [ ]:
df.head()

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0

[5 rows x 8 columns]

In [ ]:
df.loc[40211]

codigo_ocorrencia2                   40211
ocorrencia_classificacao         INCIDENTE
ocorrencia_cidade           RIO DE JANEIRO
ocorrencia_uf                           RJ
ocorrencia_aerodromo                  ****
ocorrencia_dia                  03/01/2010
ocorrencia_hora                   12:00:00
total_recomendacoes                      0
Name: 40211, dtype: object

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

   codigo_ocorrencia2  ... total_recomendacoes
0               40211  ...                   0
1               40349  ...                   0
2               40351  ...                   0
3               39527  ...                   0
4               40324  ...                   0

[5 rows x 8 columns]

In [ ]:
# criando um coluna de backup
df['ocorrencia_uf_bk'] = df.ocorrencia_uf

In [ ]:
# Como dados foram alterados, iremos usar o dataframe original.
import pandas as pd

df = pd.read_csv("ocorrencia_2010_2020.csv")

In [ ]:
'''''

# Dados para limpeza de ocorrencia_uf
**


# Dados para limpeza de ocorrencia_aerodromo

****

*****

###!

####


ocorrencia_hora
NULL

'''''

"''\n\n# Dados para limpeza de ocorrencia_uf\n**\n\n\n# Dados para limpeza de ocorrencia_aerodromo\n\n****\n\n*****\n\n###!\n\n####\n\n\nocorrencia_hora\nNULL\n\n"

In [ ]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [ ]:
# Para limpar um situação qualquer que queiramos tirar (dados sujos)
# Fazendo o filtro

# A partir do Pandas 1.0, já é possível colocar valores não informados
# Not Avaliable 

df.loc[df.ocorrencia_aerodromo == '****' , ['ocorrencia_aerodromo']] = pd.NA

In [ ]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [8]:
# Realizando a limpeza de um única vez usando o método replace
# ou seja, as alterações sejam feitas no dataframe como um todo.

df.replace(['**', '****', '###!' , 'NULL'], pd.NA, inplace=True)

In [10]:
# procurando dados não informados
# descrevendo os campos que estão sem indicação
df.isna()

      codigo_ocorrencia  ...  total_recomendacoes
0                 False  ...                False
1                 False  ...                False
2                 False  ...                False
3                 False  ...                False
4                 False  ...                False
...                 ...  ...                  ...
5747              False  ...                False
5748              False  ...                False
5749              False  ...                False
5750              False  ...                False
5751              False  ...                False

[5752 rows x 9 columns]

In [11]:
# Mas o somatório desses valores usamos o método sum()
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2186
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [13]:
# outra possibilidade é procurar valores nulos

df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2186
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [14]:
# Para preenchimento com algum valor nos registros vazios

df.fillna(0)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [17]:
# Retornando os valores para N/A - missing values
df.replace([10], pd.NA, inplace=True)

In [21]:
# Criando backup:
df['ocorrencia_classificacao_bkp'] = df.ocorrencia_classificacao

In [23]:
df.drop(['ocorrencia_classificacao_bkp'])

KeyError: ignored

In [26]:
# esse erro ocorre que ele tenta excluir a linha e não a coluna
# Para isso, teremos que excluir o outro eixo, que por padrão é 
# o eixo = 0

df.drop(['ocorrencia_classificacao_bkp'], axis=1, inplace=True)

In [ ]:
# Para excluir as linhas que contiverem valores N/A
# Já que não é possível excluir apenas uma célula
df.dropna()

In [3]:
# Para não apagar todos os dados, e sim apenas em determinadas tabelas,
# filtramos o método
df.dropna(subset=['ocorrencia_uf'])

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [5]:
# Para remover valores duplicadas
df.drop_duplicates(inplace=True)